<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ app.config['SERVICE_NAME'] }}</title>
    <meta name="description" content="{{ app.config['SERVICE_TAGLINE'] }}">
    <meta name="author" content="{{ app.config['ADMIN_NAME'] }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href="{{ url_for('static', filename='favicon.ico')}}" rel="icon" type="image/x-icon" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="{{url_for('static', filename='vendor/bootstrap-3.0.3/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='vendor/jquery-ui-1.10.3.custom/css/ui-lightness/jquery-ui-1.10.3.custom.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='oabutton.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='vendor/select2-release-3.2/select2.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='vendor/select2-release-3.2/select2-bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='nvd3/nv.d3.css')}}">
    
    <script type="text/javascript" src="{{url_for('static', filename='vendor/jquery-1.10.2.min.js')}}"></script>    
    <script type="text/javascript" src="{{url_for('static', filename='vendor/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js')}}"></script>    
    <script type="text/javascript" src="{{url_for('static', filename='vendor/bootstrap-3.0.3/js/bootstrap.min.js')}}"></script>                
    <script type="text/javascript" src="{{url_for('static', filename='jquery.linkify-1.0-min.js')}}"></script>      
    <script type="text/javascript" src="{{url_for('static', filename='vendor/select2-release-3.2/select2.min.js')}}"></script>    
    <script type="text/javascript" src="{{url_for('static', filename='jquery.graphview.js')}}"></script>    
    <script type="text/javascript" src="{{url_for('static', filename='vendor/d3/d3.v3.min.js')}}"></script>    
    <script type="text/javascript" src="{{url_for('static', filename='vendor/d3/topojson.v1.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='nvd3/fisheye.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='nvd3/nv.d3.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='vendor/etherpad.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='map.js')}}"></script>
    
    <link href='//fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

</head>

