{% extends "base.html" %}

{% block content %}

    <div class="container" style="padding-bottom:40px;margin-top:100px;">
        <div class="content">

            <div class="well">
                <h3>Forgot your password</h3>
                <p>If you forgot your password, provide your username or email on the right and click "reset your password now".</p>
                <p>NOTE that you must know your correct username or email, and you must have access to the account associated 
                to the email address you used, as your new password will be sent there.</p>
                <p>If you do not know these things, <a href="/contact">contact us directly</a> for further help.</p>
            </div>

            <form method="POST" action="">
                <p>Provide your username or email:</p>
                <input type="text" name="un" class="form-control" style="width:300px;display:inline;">
                <input type="submit" value="Reset your password now" class="btn btn-action">
            </form>

        </div>
    </div>
{% endblock %}

