{% extends "base.html" %}

{% block content %}

    <div class="container" style="padding-bottom:40px;margin-top:100px;">
        <div class="content">

              <form method="post" action="">
                  <p><input type="text" name="username" placeholder="username or email address" class="form-control"></p>
                  <p><input type="password" name="password" placeholder="password" class="form-control"></p>
                  <p><input type="submit" value="Login" class="btn btn-action"></p>
              </form>
              {% if app.config['PUBLIC_REGISTER'] %}
              <p><br>No account yet? (Your open access button account will work if you already have one) <a href="/#download">Sign up now &raquo;</a></p>
              {% endif %}
              <p><br>Forgot your details? <a href="{{url_for('account.forgot')}}">Get it sorted &raquo;</a></p>

        </div>
    </div>

{% endblock %}

