{% extends "base.html" %}

{% block content %}
    
<script type="text/javascript">
jQuery(document).ready(function($) {
    //$('#m').hide()
    $('#m').css({
        "border":"none",
        "background":"none",
        "cursor":"default",
        "-moz-box-shadow":"none",
        "-webkit-box-shadow":"none",
        "box-shadow":"none"
    })
    var signup = function(event) {
        event.preventDefault()
        if ( $('#m').val() == "" ) {
            $('#signupform').submit()
        } else {
            alert("Are you human? If so, don't put anything in that last box...")
        }
    }
    $('#signup').bind('click',signup)
});
</script>

    <div class="container" style="padding-bottom:40px;margin-top:100px;">
        <div class="content">
            <!--
            <form id="signupform" method="post" action="{{url_for('account.register')}}">
                <p><input type="text" name="w" placeholder="username" class="form-control"></p>
                <p><input type="text" name="n" placeholder="email address" class="form-control"></p>
                <p><input type="password" name="s" placeholder="password" class="form-control"></p>
                <p><input type="password" name="c" placeholder="confirm password" class="form-control"></p>
                <p><input id="signup" type="submit" value="Signup" class="btn btn-primary" /></p>
                <p><br><br><br><br><br><br><input id="m" type="text" name="m" /></p>
            </form>
            -->
        </div>
    </div>

{% endblock %}

