{% extends "base.html" %}

{% block content %}

<div class="container">

    {% if current_user.id == account.id or current_user.is_super %}

    <div class="row">
        <div class="col-md-4" style="border-right:1px solid #c8c8c8;">
            <h2>{{ account.id }}</h2>

            <form action="" method="POST">
            <p>
            <select id="id_profession" name="profession" class="form-control" style="margin-bottom:3px;">
                <option value="Student" 
                {% if account.data.profession == "Student" %}selected="selected"{% endif %}
                >Student</option>
                <option value="Doctor"
                {% if account.data.profession == "Doctor" %}selected="selected"{% endif %}
                >Doctor</option>
                <option value="Patient"
                {% if account.data.profession == "Patient" %}selected="selected"{% endif %}
                >Patient</option>
                <option value="Advocate"
                {% if account.data.profession == "Advocate" %}selected="selected"{% endif %}
                >Advocate</option>
                <option value="Academic"
                {% if account.data.profession == "Academic" %}selected="selected"{% endif %}
                >Academic</option>
                <option value="Researcher"
                {% if account.data.profession == "Researcher" %}selected="selected"{% endif %}
                >Researcher</option>
                <option value="Librarian"
                {% if account.data.profession == "Librarian" %}selected="selected"{% endif %}
                >Librarian</option>
                <option value="Other"
                {% if account.data.profession == "Other" %}selected="selected"{% endif %}
                >Other</option>
                <option value="Undisclosed"
                {% if account.data.profession == "Undisclosed" %}selected="selected"{% endif %}
                >Prefer not to say</option>
            </select>
            <input name="password" type="text" class="form-control" placeholder="change your password" style="margin-bottom:3px;">
            <input class="btn btn-action btn-block" type="submit" value="update your account">
            </p>

            </form>

            <hr>

            <p>Get the button for:</p>
            <p>UPDATE thESe LINKS</p>
            <p>
            <a class="btn btn-info" target="_blank" href="https://chrome.google.com/webstore/detail/open-access-button/gknkbkaapnhpmkcgkmdekdffgcddoiel">Chrome</a>
            <a class="btn btn-info" target="_blank" href="https://github.com/OAButton/oab-fxaddon/releases/download/v1.3/oab-fxaddon.xpi">Firefox</a>
            </p>
            
            <hr>
            
            <p>Your API key is:<br>
            <pre><code>{{account.data['api_key']}}</code></pre></p>
                    
        </div>
        
        <div class="col-md-8">
            <h2>Your wishlist</h2>
            <table class="table table-striped table-bordered">
            {% for w in account.wishlist() %}
                <tr><td>
                <a target="_blank" href="{{w.url}}">{{w.url}}</a> on {{w.created_date}}
                </td></tr>
            {% endfor %}
            </table>
            
            <h2 style="padding-top:40px;">Coming soon...</h2>
            <p>A list of the articles you wished for, and received!</p>
            <p>The ability to create groups of users with related research interests!</p>
        </div>
    </div>

    {% else %}
    <div class="row">
        <div class="col-md-12">
            <h2>{{ account.id }}</h2>
            <p>You are not logged in as this user. Use the <a href="/account/login">login page</a> if you want to change this</p>
        </div>
    </div>
    {% endif %}

</div>

<script>
jQuery(document).ready(function() {

    function discoveryRecordView(data) {
        var details = '<tr><td>';
        details += '<h4><a href="/story/' + data.id + '">' + data.title + '</a></h4>';
        details += '</td></tr>';
        return details;
    }
        
    var cshowresults = function(data) {
        var restable = '<table id="searchresulttable" class="table table-striped table-bordered" style="background:white;">';
        for ( var r in data.hits.hits ) {
            restable += discoveryRecordView(data.hits.hits[r]._source);
        }
        restable += '</table>';
        $('.graphview_panel').html(restable);
        $('.graphview_total').html(data.hits.total);
        $('.graphview_loading').html('... LOADING').hide();
        if ( data.hits.total == 0 ) {
            $('.graphview_loading').html('NO RESULTS FOUND').show();
        }
    }

    var cuitemplate = function() {
        var options = $.fn.graphview.options;
        var ui = '<div class="graphview">';
        ui += '<div class="row graphview_searcharea">';

        ui += '<div class="col-md-12">';

        ui += '<div style="margin-top:35px;"><input type="text" class="form-control query_string" style="width:97%;" data-option="query.bool.must.query_string.query"></div>';

        ui += '<div style="height:35px;margin-top:10px;">';

        ui += '<div style="display:inline;"><span class="searchcontrols">';
        ui += '<input class="form-control graphview_from" type="text" value="';
        ui += options.defaultquery.from;
        ui += '" style="width:40px;margin:-5px 0 0 0;padding:1px 1px 0 0;color:#666;text-align:center;display:inline;">';
        ui += ' to ';
        ui += '<input class="form-control graphview_to" type="text" value="';
        ui += options.defaultquery.size;
        ui += '" style="width:40px;margin:-5px 0 0 0;padding:1px 1px 0 0;color:#666;text-align:center;display:inline;"> of </span> \
            <span class="graphview_total searchcontrols" style="font-size:16px;font-weight:bold;color:#999;"></span>';
        ui += ' <span class="graphview_loading">... LOADING</span>';
        ui += '</div>';
        
        ui += '<div class="searchcontrols" style="float:right;display:inline;">';
        ui += ' <a id="closesearch" class="close" href="#" style="font-size:1.4em;padding-left:20px;" alt="close the search" title="close the search">&times;</a>';
        ui += '</div>';

        ui += '</div>';

        ui += '</div>';
        ui += '</div>'; // closes searcharea

        ui += '<div class="graphview_panel searchcontrols"></div>';

        ui += '</div>'; // closes graphview

        return ui;
    }

    $('#wishlist').graphview({
        "target": "/wishlist",
        "pushstate": false,
        "titlefield": "name.exact",
        "defaultquery": {
            "query": {
                "bool": {
                    "must":[
                        {"match_all": {}}
                    ]
                }
            },
            "from":0,
            "size":25,
            "facets":{
                "Authors": {"term":{"field":"author.exact","suggest":true}},
                "Journals": {"term":{"field":"journal.exact","suggest":true}}
            }
        },
        showresults: cshowresults,
        uitemplate: cuitemplate
    });
    

    var deleteme = function(event) {
        event.preventDefault();
        var conf = confirm("Are you sure you want to delete your account? All your details and your wishlist will be permanently removed. :(");
        if ( conf ) {
            $.ajax({
                'url': window.location,
                'method': 'DELETE'
            });
            window.location = '/';
        }
    }
    $('#delete').bind('click',deleteme);
})
</script>

{% endblock %}

